{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Lista Karnetów</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css_files/list3.css' %}">
</head>
<body>
    <h1>Lista Karnetów</h1>

    <!-- Wyszukiwarka karnetów -->
    <form method="get" action="{% url 'list_memberships' %}">
        <input type="text" name="search" placeholder="Wyszukaj" value="{{ request.GET.search }}">
        <button type="submit">Szukaj</button>
    </form>

    <!-- Lista wszystkich karnetów lub wyszukanych karnetów -->
    <ul>
        {% for client in clients %}
            {% for membership in client.membership_set.all %}
                {% if not request.GET.search or request.GET.search in client.login %}
                    <li>
                        <h2>{{ client.login }}</h2>
                        Typ karnetu: {{ membership.get_membership_type_display }}<br>
                        Data aktywacji: {{ membership.activation_date|date:"d.m.Y" }}<br>
                        Data wygaśnięcia: {{ membership.expiration_date|date:"d.m.Y" }}<br>
                        <a href="{% url 'edit_membership' membership.id %}">Edytuj Karnet</a> - <a href="{% url 'delete_membership' membership.id %}" class="red-link">Usuń Karnet</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>

    <a href="{% url 'add_membership' %}">Dodaj Karnet</a>
    <nav>
        <a href="{% url 'index' %}">Strona Główna</a>
    </nav>
</body>
</html>
