<!-- events/add.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dodaj Wydarzenie</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css_files/add2.css' %}">
</head>
<body>
    <h1>Dodaj Wydarzenie</h1>
    <form method="post" action="{% url 'add_event' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Dodaj Wydarzenie</button>
    </form>



    <nav>
        <a href="{% url 'list_events' %}">Lista Wydarzeń</a>
    </nav>
    <nav>
        <a href="{% url 'index' %}">Strona Główna</a>
    </nav>

</body>
</html>