<!-- add_group_event.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Wydarzenie Grupowe</title>
</head>
<body>
    <h1>Dodaj Wydarzenie Grupowe</h1>

    <form method="post" action="{% url 'add_group_event' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Dodaj Wydarzenie</button>
    </form>

    <a href="{% url 'list_events' %}">Powrót do Listy Wydarzeń</a>
</body>
</html>
